*{
  box-sizing: border-box;
}

/*****************************/
/***  WIREFRAMING DELETE   ***/
/***    BEFORE DEPLOY      ***/
/*****************************/
div{
  text-align: center;
  padding: 10px;
  height: auto;
}

/***MOBILE (DEFAULT) STYLES***/

body{
  display: block;
  background-color: #ddd;
  margin: auto;
  width: 95vw;
}

nav{
  background-color: #7DDFE8;
  border: 1px solid black;
  display: flex;
  position: fixed;
  top: 0;
  height: auto;
  width: 95vw;
}

#logo{
  flex:1 0 30%;
  border: 1px soilid red;
  background-color: red;
}

.link_container{
  flex: 1 0 75%;
}

.main{
  margin-top: 8.5rem;
  height: auto;
  width: 95vw;
  background-color: white;
}

.heading{
  border: 1px solid;
}

.calendar{
  border: 1px solid;
  display: flex;
  justify-content: flex-start;
  padding: 2rem 0;
  flex-wrap: wrap;
  background-color: #0B1942;
  color: white;
  height: 50vh;
}

.calendar>h2{
  flex:1 100%;
  margin-top: -0.5rem;
}

.calendar_row{
  flex:1 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.day{
  flex:0 1 15%;
  display: flex;
  background-color: white;
  border:1px solid #0B1942;
  padding: 0;
}

.day p{
  background-color: #0B1942;
  margin: 0;
  padding: 5px;
  justify-content: flex-start;
}

footer{
  background-color: #7DDFE8;
  height: auto;
  width: 95vw;
}


/*******************/
/***TABLET STYLES***/
/*******************/
@media (min-width:545px){
  #logo{
    background-color: green;
  }

  .main{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  #heading h2{
    flex:1 0 100%;
  }

  .link_container{
    display: flex;
    margin: -0.7rem;
  }

  .nav_link{
    width: auto;
    flex:0 1 15%;
    background-color: red;
    border: 1px solid;
  }

  footer{
    display: flex;
  }

  #copyright{
    flex: 1 0 20%;
    text-align: right;
  }

}


/*DESKTOP STYLES*/
@media (min-width:769px){
  #logo{
    background-color: blue;
  }

}
