*{
  box-sizing: border-box;
}

/***MOBILE (DEFAULT) STYLES***/

body{
  display: block;
  background-color: #ddd;
  margin: auto;
  width: 100vw;
}

.main{
  margin-top: 8.5rem;
  height: auto;
  width: 100vw;
  background-color: white;
}

.heading{

}

.heading > h1{
  font-weight: 200;
  padding: 1.5rem;
  font-size: 1.8em;
}

.calendar{
  border: 1px solid;
  display: flex;
  justify-content: flex-start;
  padding: 2rem 0;
  flex-wrap: wrap;
  background-color: #0B1942;
  color: white;
  height: 75vh;
  width: 100%;
}

.calendar>h2{
  flex:1 100%;
  color: #fff;
  font-weight: 200;
  margin-top: -0.5rem;
  padding: 0 1.2rem;
}

.calendar_row{
  flex:1 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.day{
  flex:0 1 15%;
  display: flex;
  background-color: white;
  border:1px solid #0B1942;
  padding: 0;
}

.colored{
  background-color: #F5005B;
}

.day p{
  background-color: #0B1942;
  color: #fff;
  margin: 0;
  padding: 5px;
  justify-content: flex-start;
  height: 3.7vh;
}

footer{
  background-color: #7DDFE8;
  height: auto;
  width: 100vw;
}


/*******************/
/***TABLET STYLES***/
/*******************/
@media (min-width:545px){
  #logo{
    background-color: green;
  }

  .main{
    margin-top: 11vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  #heading h2{
    flex:1 0 100%;
  }

  footer{
    display: flex;
  }

  #copyright{
    flex: 1 0 20%;
    text-align: right;
  }

}


/*DESKTOP STYLES*/
@media (min-width:769px){
  #logo{
    background-color: blue;
  }

}
