*{
  box-sizing: border-box;
}

/***MOBILE (DEFAULT) STYLES***/

body{
  display: block;
  background-color: #ddd;
  margin: auto;
  width: 95vw;
}

h1 {
    font-weight: 100;
    font-size: 1.7em;
    margin-top: 1rem;
}

.profile_picture img{
  border-radius: 100%;
  height: 45vh;
  width: auto;
  padding: 1rem;
}

.join_file_selector label {
    font-size: 0.8em;
}

.form_part_1 input {
  width: 100%;
  padding: 5px;
  margin-bottom: 1rem;
}

.genre_input{
  line-height: 2;
  margin: 0;
}

.genre_input input + label{
  margin-left: 5px;
}

textarea#additional {
    width: 100%;
    height: 7vh;
}

fieldset{
  border: none;
}

#form_part_2{
  background-color: #fff;
  width: 100%;
  height: auto;
  /*margin-top: 7.5rem;*/
  padding-bottom: 1rem;
  /*padding: 1.3rem;*/
}

.submit_button{
  margin-top: 2rem;
}

input[type="submit"] {
    background-color: #F5005B;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 0.9em;
    font-weight: 100;
}

footer{
  background-color: #7DDFE8;
  height: auto;
  width: 95vw;
}

input#profile {
    font-size: .9rem;
}

.additional_input {
    margin-top: 2rem;
}

/*******************/
/***TABLET STYLES***/
/*******************/
@media (min-width:545px){

  #heading{
    margin-top: 2rem;
  }

  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .join_heading{
    flex: 1 100%;
  }

  .picture_fieldset{
    flex:0 1 35%;
    margin: 0;
    padding: 0;
  }

  .form_part_1{
    flex: 1 53%;
    margin: 0;
    padding: 0;
  }

  .profile_picture img{
    height: 35vh;
  }

  .genre_input{
    display: flex;
    flex-wrap: wrap;
  }

  .genre_input > label{
    flex: 1 100%;
  }

  .genre_input > div{
    flex: 1 40%;
  }

  .additional_input{
    margin-top: 1rem;
  }

  footer{
    display: flex;
  }

  #copyright{
    flex: 1 0 20%;
    text-align: right;
  }

}


/*DESKTOP STYLES*/
@media (min-width:769px){

  .picture_fieldset{
    flex: 0 1 35%;
    margin: 0;
    padding: 0;
  }

  .form_part_1 {
    display: flex;
    flex-wrap: wrap;
    flex:1 60%;
    margin: 0;
    padding: 0;
  }

  .form_part_1 > div{
    display: flex;
    justify-content: space-between;
    flex: 0 1 30%;
  }

  .personal_fieldset > div, .password_fieldset > div{
    flex: 0 1 48%;
  }

  .genre_input > div{
    flex: 1 33%;
  }

  .personal_fieldset, .password_fieldset{
    flex: 1 45%;
  }

}
