*{
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  color: #0B1942;
  margin: 0;
}

/*****************************/
/***  WIREFRAMING DELETE   ***/
/***    BEFORE DEPLOY      ***/
/*****************************/
/*div{
  text-align: center;
  padding: 10px;
  border: 1px solid;
}*/

/***MOBILE (DEFAULT) STYLES***/

body{
  display: block;
  background-color: #ddd;
  margin: auto;
  width: 95vw;
}

nav{
  background-color: #7DDFE8;
  display: flex;
  position: fixed;
  top: 0;
  height: auto;
  width: 95vw;
  text-align: center;
}

#logo{
  flex:1 0 auto;
  background-color: #F5005B;
  padding: 10px;
}

#logo img{
  height: 14vh;
  width: auto;
}

.link_container{
  flex: 1 0 58%;
  margin: 0;
}

.nav_link{
  padding: 0.8rem;
}

.nav_link a{
  color: #FFFFFF;
  text-decoration: none;
}

.home_link{
  background-color: #00A5BF;
}

.calendar-link{
  background-color: #00B7D3;
}

.join_link{
  background-color: #00D5E7;
}

#heading{
  background-color: #fff;
  width: 95vw;
  height: auto;
  margin-top: 18vh;
  padding-bottom: 1rem;
  padding: 1.3rem;
}

#heading h2{
  font-weight: 200;
  padding-bottom: 1rem;
}

.notice{
  margin-bottom: 1rem;
}

.notice_header{
  background-color: #0B1942;
  padding: 0.2rem 1rem;
}

.notice_header h3{
  color: #fff;
  font-weight: 100;
}

.notice_body {
  font-size: 0.9em;
    padding: 1rem 0;
    line-height: 1.5;
}

#up_next{
  background-color: #0B1942;
  margin-top: -1.3rem;
  height: auto;
  width: 95vw;
  padding: 1rem;
}

#up_next h1{
  color: #fff;
  margin-top: 0;
  padding: 0.8rem;
  font-weight: 100;
  font-size: 1.8em;
}

.marquee{
  background-color: #E2E2E2;
  color: black;
  border: 1px solid white;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.marquee > div{
  flex:0 1 40%;
  margin: 0.5rem;
  padding: 0;
}

.rashoman_picture img{
  height: 33vh;
  width: auto;
}

.rashoman_info .film_title{
  /*border-bottom: 1px solid black;*/
  line-height: 2;
}

.rashoman_info a{
  color: #00D5E7;
  font-size: 1.5em;
}

hr{
  border: 1px solid black;
  margin: 1rem 0;
}

.discussion_points p{
  font-weight: bold;
  line-height: 2.5;
}

.discussion_points ul{
  line-height: 1.9;
  list-style: circle;
}

.marquee img{
  height: 34vh;
  width: auto;
}

.marquee a{
  color: #00D5E7;
  font-size: 1.1em;
}

.marquee p{
  line-height: 2.5;
}


footer{
  text-align: center;
  background-color: #7DDFE8;
  height: auto;
  width: 95vw;
}

#copyright{
  padding: 2rem;
  color: #fff;
}

/*******************/
/***TABLET STYLES***/
/*******************/
@media (min-width:545px){
  #logo{
    background-color: green;
  }

  #heading{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  #heading h2{
    flex:1 0 100%;
  }

  .notice{
    margin: 1rem;
    flex: 1;
  }

  .link_container{
    display: flex;
    /*margin: -0.7rem;*/
  }

  .nav_link{
    width: auto;
    flex:0 1 15%;
    background-color: red;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .marquee{
    flex-wrap: nowrap;
  }

  footer{
    display: flex;
  }

  #copyright{
    flex: 1 0 20%;
    text-align: right;
  }

}


/*DESKTOP STYLES*/
@media (min-width:769px){
  #logo{
    background-color: blue;
  }

  #up_next{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  #up_next h1{
    flex:1 0 100%;
    margin: 1rem;
  }

  .marquee{
    margin: 1rem;
    flex: 1;
    flex-wrap: wrap;
  }

  .rashoman_picture{
    height: auto;
  }

}
